.day_btn:first-child {
    border-radius: 10px 0 0 10px;
}

.day_btn:nth-of-type(2) {
    border-radius: 0 10px 10px 0;
}

.day_btn {
    background-color: #C28FFF !important;
    color: white !important;
}

.day_btn:hover {
    background-color: #b67ef8 !important;
}

#dateInput {
    position: relative;
}

.my_tooltip {
    display: none;
    position: absolute;
    top: 57px;
    transform: translateX(-50%);
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    z-index: 1000;
    white-space: nowrap;
    background-color: white;
    min-width: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.my_tooltip:before {
	content: "";
	border: solid transparent;
	position: absolute;
	left: 50%;
	bottom: 100%;
	border-bottom-color: white;
	border-width: 6px 9px;
	margin-left: 0;
}

.calendar-button, .edit-btn {
    color: #3E99E3;
    cursor: pointer;
}

.calendar-button:hover, .edit-btn:hover {
    color: #0F80CB;
}

.weekend {
    color: indianred !important;
}

.empty-cell {
  visibility: hidden;
}

.table th {
    height: 25px !important;
}

.table td {
  height: 30px !important;
}

.calendar-table td, .calendar-table th {
  font-weight: normal !important;
}

.table td, .table th {
  padding: 0.3rem !important;
  border: none;
}

.routes-row {
    background-color: #E2E9F4;
    border-radius: 8px;
    padding-left: 6rem;
    margin-bottom: 3px;
}

.routes-head {
    background-color: #B8D3EF;
    border-radius: 8px;
    padding-left: 6rem;
    margin-bottom: 12px;
    height: 60px;
}

.routes-table {
    width: 90% !important;
    margin: auto !important;
    margin-top: 1rem !important;
    border-radius: 8px !important;
}

.table {
  border-collapse: separate;
}

.btn-outline-primary:hover, .today, .btn-primary {
    border-color: #3E99E3 !important;
    background-color: #3E99E3 !important;
}

.btn-primary:hover {
    background-color: #0F80CB !important;
}

.day {
    text-decoration: none;
    color: #000;
}

.day-hover {
    outline: 2px solid #C28FFF;
    color: #C28FFF !important;
    border-radius: 8px;
    cursor: pointer;
}

.today {
  color: white !important;
  border-radius: 8px;
}

.btn-close {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
    cursor: pointer !important;
}

.btn-close:focus {
    outline: none !important;
    box-shadow: none !important;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    font-size: 1.5rem;
}

.icon-button:focus {
    outline: none;
}

.delete-btn {
    color: indianred;
}

.delete-btn:hover {
    color: #D4121E;
}

.add-route-btn {
    background: none;
    border: 2px dashed #B8D3EF !important;
    color: #B8D3EF !important;
    font-size: 1.5rem !important;
    font-weight: bold  !important;
    padding: 10px 20px !important;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    border-radius: 8px;
}

.add-route-btn:hover {
    background-color: #f8f9fa !important;
    color: #3E99E3 !important;
    border-color: #3E99E3 !important;
}

.alert {
    font-size: 16px !important;
    color:#dd2b3a !important;
}