<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Расписание троллейбусов</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/trolleybuspark/">ТроллейбусныйПарк</a>
        <form id="routesForm" class="d-flex" role="search">
            <button class="btn btn-outline-primary day_btn" id="prevDay">ᐊ</button>
            <input class="form-control rounded-0" type="search" id="dateInput" name="date" placeholder="Дата" autocomplete="off" style="width: 180px; height: 40px; font-size:20px">
            <button class="btn btn-outline-primary me-3 day_btn" id="nextDay">ᐅ</button>
            <button class="btn btn-outline-primary" type="submit" id="inputButton">Показать расписание</button>
        </form>
        <div class="d-flex justify-content-between gap-3">
          <div class="d-flex flex-column justify-content-between" id="login">
            <a>{{ login }}</a>
            <a href="/logout">Выход</a>
          </div>
        </div>
      </div>
    </nav>
    <div id="tooltip" class="my_tooltip" style="width: 19em;">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <a id="prevMonth" class="calendar-button" onselectstart="return false" onmousedown="return false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </a>
                <h5 id="monthYear" class="m-0"></h5>
                <a id="nextMonth" class="calendar-button" onselectstart="return false" onmousedown="return false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                        <th><small>ПН</small></th>
                        <th><small>ВТ</small></th>
                        <th><small>СР</small></th>
                        <th><small>ЧТ</small></th>
                        <th><small>ПТ</small></th>
                        <th><small class="weekend">СБ</small></th>
                        <th><small class="weekend">ВС</small></th>
                    </tr>
                  </thead>
                  <tbody id="dates"></tbody>
                </table>
            </div>
        </div>
    </div>
    <table class="table caption-top mt-2" id="routesTable" style="width: 90%; margin-left: 5%;">
        <thead>
            <tr>
                <th scope="col">Номер Маршрута</th>
                <th scope="col">Отпр.</th>
                <th scope="col">Приб.</th>
                <th scope="col">Маршрут</th>
                {% if user_group == "routes_manager" %}
                <th scope="col">Номер водителя</th>
                <th scope="col">Номер троллейбуса</th>
                <th scope="col">Действия</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>{{ route.route_id }}</td>
                <td>{{ route.time_out }}</td>
                <td>{{ route.time_in }}</td>
                <td>{{ route.route_name }}</td>
                {% if user_group == "routes_manager" %}
                <td>{{ route.driver_id }}</td>
                <td>{{ route.trolleybus_id }}</td>
                <td>
                    <button class="icon-button edit-btn" data-id="{{ route.sh_id }}" title="Редактировать">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button class="icon-button delete-btn" data-id="{{ route.sh_id }}" title="Удалить">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if user_group == "routes_manager" %}
    <button id="addRouteButton" class="btn add-route-btn" data-bs-toggle="modal" data-bs-target="#saveRouteModal"
            title="Добавить маршрут" data-route-year="{{ year }}" data-route-month="{{ month }}" data-route-day="{{ day }}">
        +
    </button>
    <div class="modal fade" id="saveRouteModal" tabindex="-1" aria-labelledby="addRouteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="saveRouteModalLabel">Добавить маршрут</h5>
            <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form id="saveRouteForm">
              <div class="mb-3">
                <label for="route_id" class="form-label">Номер маршрута</label>
                <select class="form-select" id="route_id" name="route_id" required>
                  <option value="" disabled selected>Выберите номер маршрута</option>
                  {% for route_id in routes_id %}
                  <option value="{{ route_id['route'] }}">{{ route_id['route'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="time_out" class="form-label">Время отправления</label>
                <input type="time" class="form-control" id="time_out" name="time_out" required>
              </div>
              <div class="mb-3">
                <label for="time_in" class="form-label">Время прибытия</label>
                <input type="time" class="form-control" id="time_in" name="time_in" required>
              </div>
              <div class="mb-3">
                <label for="driver_id" class="form-label">Персональный номер водителя</label>
                <select class="form-select" id="driver_id" name="driver_id" required>
                  <option value="" disabled selected>Выберите водителя</option>
                  {% for driver in drivers %}
                  <option value="{{ driver['personnel_number'] }}">{{ driver['personnel_number'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="trolleybus_id" class="form-label">Серийный номер троллейбуса</label>
                <select class="form-select" id="trolleybus_id" name="trolleybus_id" required>
                  <option value="" disabled selected>Выберите троллейбус</option>
                  {% for trolleybus in trolleybuses %}
                  <option value="{{ trolleybus['trolleybus_id'] }}">{{ trolleybus['trolleybus_id'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <input type="hidden" class="form-control" id="sh_id" name="sh_id" value="">
              <button type="submit" class="btn btn-primary w-100 mt-2" id="saveRouteButton">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Создание отчёта о маршрутах</h1>
            <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body" id="modal_body">
            <form id="createReportForm" class="d-flex w-50 mx-auto" role="search">
                <button class="btn btn-outline-primary day_btn" type="submit" id="repLeftButton">ᐊ</button>
                <input class="form-control rounded-0" type="search" id="repDateInput" name="date" placeholder="Дата" autocomplete="off" style="width: 180px; height: 40px; font-size:20px">
                <button class="btn btn-outline-primary day_btn" type="submit" id="repRightButton">ᐅ</button>
            </form>
            <table class="table table-striped table-bordered table-hover caption-top" id="reportTable"></table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary w-100" id="createReportButton">Создать</button>
          </div>
        </div>
      </div>
    </div>
    <script>
        const today_routes = {{ routes | tojson | safe }};
        console.log(today_routes);
    </script>
    {% endif %}
    <script>
        const user_group = "{{ user_group }}";
        const login = "{{ login }}";
    </script>
    <script src="/static/js/main.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>